.flexRowContent--mobile__pdp-section1 :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: auto !important;
}

.flexCol--mobile__pdp--ratings {
  height   : max-content;
  transform: translateY(7px);
}

.flexRowContent--mobile__pdp-section1 {
  display: flex;
}
