.paragraph--cart__custom--title {
  font-size  : 36px;
  font-weight: 700;
  color      : #000;
  font-family: "AdihusDIN-Bold";
}

.paragraph--cart__custom--paragraph {
  font-size  : 16px;
  color      : #000;
  font-family: "AdihausDIN-Regular";
}

.paragraph--cart__custom--top-title {
  font-size: 12px;
  letter-spacing: 2px;
  color      : #000;
  font-family: "AdihusDIN-Bold";
}
