/* Example desktop:
.minicartTitle {
    display: none;
} */

/* .minicartSideBarContentWrapper--desktop__minicart--icon {
  background-color: beige;
} */
/*
.drawer--desktop__minicart--icon {
  width: 80% !important;
  max-width: 100% !important;
} */

.minicartProductListContainer {
  padding-left: 15px !important;
  padding-right: 5px !important;
}

.minicartQuantityBadge--desktop__minicart--icon {
  margin-top      : .2px;
  margin-right    : 4px;
  background-color: #0071ae;
  color           : #fff;
}

@media screen and (max-width: 426px) {
  .drawer--desktop__minicart--icon {
    width: 90% !important;
    max-width: 100% !important;
  }

  /* .minicartProductListContainer {
    padding-left: 0 !important;
  } */


 }

 @media screen and (max-width: 376px) {
  .drawer--desktop__minicart--icon {
    width: 100% !important;
    max-width: 100% !important;
  }

  /* .minicartProductListContainer {
    padding-left: 0 !important;
    padding-right: 0 !important;
  } */

 }

 @media screen and (max-width: 360px) {
  .drawer--desktop__minicart--icon {
    width: 100% !important;
    max-width: 100% !important;
  }

  .minicartProductListContainer {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

 }
