.infoCardContainer--phone__infocards {
  height: 680px;
  border: none;
}

.infoCardTextContainer--phone__infocards {
  transform: translateY(230px);
}

.infoCardHeadline--phone__infocards {
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  font-family: "adineuePRO-Bold";
}

.infoCardSubhead--phone__infocards {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  font-family: "AdihausDIN-Regular";
}

.infoCardTextContainer--phone__infocards :global(.vtex-button) {
  background: #fff;
  color: #000;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "AdihausDIN-Regular";
  font-size: 14px;
  height: 25px;
  border: none;
  border-radius: 0;
}

.infoCardTextContainer--phone__infocards :global(.vtex-button)::after {
  content: "";
    display: block;
    position: absolute;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    height: 100%;
    right: -5px;
    top: 4px;
    width: 3px;
}

.infoCardTextContainer--phone__infocards :global(.vtex-button)::before {
  content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    height: 3px;
    width: 100%;
    bottom: -5px;
    left: 5px;
}

@media screen and (max-width: 426px) {

  .infoCardContainer--phone__infocards {
    height: 580px;
  }

  .infoCardTextContainer--phone__infocards {
    transform: translateY(180px);
  }

}

@media screen and (max-width: 376px) {

  .infoCardContainer--phone__infocards {
    height: 480px;
  }

  .infoCardTextContainer--phone__infocards {
    transform: translateY(120px);
  }

}
