/* .flexRowContent--header__sectio--subheader {

} */

/* .flexRowContent--header__section--subheader {
  height: 32px;
    max-width: none;
    width: 40%;
    display: flex;
    border: 1px solid green;
    margin-left: auto;
} */

/* .flexRow--header__section--subheader {
  height: 32px;
} */


.flexRowContent--header__section--subheader {
  padding-top: 4px;
  gap: 20px;
  width: 400px;
  height: 1.8rem;
  float: right;
  margin-right: 40px;
}

/* .flexRowContent {
  height: 3.5rem;
} */



.flexRowContent--flex-container {
  height: 3.3rem;
}

.flexRow--header__menu--middle {
      padding-top: 30px;
      /* width: 100%; */
      padding: 0 85px 0 390px;

   }


   .flexRowContent--header__menu--middle {
    padding: 20px 0 0 0;
    letter-spacing: .2rem;
    gap: 20px;
    }

/* .flexColChild--col__section-one-text {
  width: 50px;
} */

/* .flexRowContent--header__section--subheader :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 200px !important;
} */
