.menuContainer--header__bottom--menu {
  padding: 5px;
}

.submenuWrapper--subemnu--department__gender {
  z-index: 20;
    padding-top: 0;
    padding-bottom: 0;
}

.styledLinkContainer--menu__department--name-one,
.styledLinkContainer--menu__department--name {
  margin: 0 20px 0 0;
}


.submenu--subemnu--department__gender {
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: rgb(232, 226, 226);
}


.styledLink--menu__department--name-one{
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #000;
  font-family: "AdihusDIN-Bold";
}

.styledLink--menu__department--name{
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #000;
  font-family: "AdihausDIN-Regular";
}

.menuItem--menu__subcategory--name {
  font-size: 14px;
  padding-top: 3px;
}

.styledLinkContent--menu__subcategory--name {
  font-size: 14px;
  color: #000;
  font-family: "AdihausDIN-Regular";
}

