.flexRowContent--header__section--subheader {
  padding-top: 4px;
  gap: 20px;
  width: 400px;
  height: 1.8rem;
  float: right;
  margin-right: 40px;
}


.flexRow--header__bottom--menu {
  padding: 0px 80px 0 285px;
}

.flexRowContent--flex-container {
  height: 3.3rem;
}

.flexColChild--header__menu--container {
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid rgb(232, 226, 226);
}

.flexRowContent--subemnu--department__gender :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
  width: auto !important;
  border-right: 1px solid rgb(232, 226, 226);
}

.flexColChild--menu__category-column {
  height: max-content !important;
}

.flexRow--menu__bottom,
.flexRow--menu__bottom-section {
  transform: translateX(45px);
  padding: 10px 0 10px 0;
}
