.logoImage {
  transform: translateY(-10px);
  flex: 1;
}

.logoImage--container__logo--mobile {
  transform: translateY(5px);
  /* transform: translateX(100px); */
}

.searchBarContainer :global(.vtex-input-prefix__group ){
  width: 200px;
  height: 32px;
  border-radius: 0;
}

/* .searchBarInnerContainer :global(.vtex-styleguide-9-x-input) {
  background-attachment: red;
} */



.imageElement--img__menu--subcategory {
  transform: translateX(25px);
}

.imageElement--home__search--logo {
  transform: translateY(3px);
}

.imageElement--home__search--logo {
  transform: translateY(-8px);
}

.imageElement--header__favorite--logo {
  transform: translateY(-1px);
  margin-left: 15px;
}



.imageElement--home__user--logo  {
  transform: translateY(-1px);
}

.autoCompleteOuterContainer--mobile__header--menu :first-child {
  border          : none;
  background-color: blue;
}
.autoCompleteOuterContainer--mobile__header--menu :nth-child(2n) {
  background-color: #eceff1;
}
.autoCompleteOuterContainer--mobile__header--menu :nth-child(1n) {
  background-color: #eceff1;
}

.searchIcon {
  transform: translateX(15px);
}


@media screen and (max-width: 640px) {

  .imageElement--home__user--logo {
    padding-right: 30px;
  }

 }

