.wrapper--tablet__titles {
    width: 40%;
    margin-left: 10px;
}

.paragraph--tablet__titles {
    font-size: 36px;
    font-weight: bold;
    color: #000;
    font-family: "adineuePRO-Bold";
    line-height: 1;
    letter-spacing: .02em;
}

.container--tablet__titles{
  margin-top: 50px;
}
