.flexRow--desktop__footer--newsletter {
  background: #ede734;
  padding: 40px;
}

.flexRowContent--desktop__footer--newsletter {
  justify-content: center;
  gap: 30px;
}

.flexRow--footer__section--two {
  padding-top: 35px;
  padding-bottom: 35px;
}

.flexRow--desktop__footer--main {
  background: #282c31;
}

.flexRowContent--footer__section--two {
  gap: 70px;
}

.flexCol--footer__section--item {
  padding-top: 5px;
}


/* .flexRowContent--footer__section--three {
  gap: 40px;
} */

.flexCol--footer__section--three  {
  background: #282c31;
}

