.flexRow--header__plp {
  width : 80%;
  margin: 0 auto;
}

.flexRow--search__results--plp {
  width : 88%;
  margin: 0 auto;
}

.flexCol--plp__modal--filter {
  display        : flex;
  flex-direction : row;
  justify-content: end;
  transform: translateY(60px);
}

.flexRow--plp__filters--desktop {
  transform  : translateY(8px);
  margin-left: 10px;
}
