.searchResultContainer--search-results__global--container {
  padding-bottom: 40px;
}

.galleryTitle--layout {
  font-size: 40px;
  color: #000;
  font-family: "AdihusDIN-Light";
  letter-spacing: 2px;
}



.filtersWrapper--desktop__filter--navigator {
  width       : 390px !important;
  /* height      : 100vh; */
  font-size: 18px;
  color: #000;
  font-family: "AdihausDIN-Regular";
  font-weight: 600;
  cursor: pointer;
}

.filterTemplateOverflow--desktop__filter--navigator :global(.vtex-slider__base-internal){
  background-color: #000;
}
.filterTemplateOverflow--desktop__filter--navigator :global(.vtex-slider__selector){
  background-color: #000;
}


.filtersWrapper {
  width      : 90%;
  margin-left: 20px;
}

.galleryLayoutSwitcher {
  transform: translateY(15px);
}

.galleryItem--grid {
  max-width : 40% !important;
  flex-basis: 25% !important;
}

.gallery--general-grid {
  padding-left: 0 !important;
}


/* mobile */
.filtersWrapperMobile--mobile__filter--navigator {
  justify-content: flex-end;
}

.filterPopupTitle--mobile__filter--navigator {
  font-size: 14px;
  color: #000;
  font-family: "AdihusDIN-Bold";
  cursor: pointer;
}

.filterClearButtonWrapper--mobile__filter--navigator :global(.vtex-button){
  background: #fff;
  color: #000;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "AdihausDIN-Regular";
  height: 50px;
  border: none;
  border-radius: 0;
}

.filterClearButtonWrapper--mobile__filter--navigator :global(.vtex-button):hover{
  background: #000;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "AdihausDIN-Regular";
  height: 50px;
  border: none;
  border-radius: 0;
}

.filterApplyButtonWrapper--mobile__filter--navigator :global(.vtex-button){
  background: #000;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "AdihausDIN-Regular";
  height: 50px;
  border: none;
  border-radius: 0;
}

.filterApplyButtonWrapper--mobile__filter--navigator :global(.vtex-button)::after{
  content: "";
    display: block;
    position: absolute;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    height: 100%;
    right: -4px;
    top: 4px;
    width: 3px;
}
.filterApplyButtonWrapper--mobile__filter--navigator :global(.vtex-button)::before{
  content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    height: 3px;
    width: 100%;
    bottom: -4px;
    left: 5px;
}


@media screen and (max-width: 1024px) {
  .filtersWrapperMobile--mobile__filter--navigator{
    transform: translateY(10px);
  }

  .galleryTitle--layout {
    font-size: 30px;
  }

}

@media screen and (max-width: 768px) {
  .filtersWrapperMobile--mobile__filter--navigator{
    transform: translateY(5px);
  }

  .galleryTitle--layout {
    font-size: 24px;
  }

}
