.imageWrapper--plp__product--image {
  background: #EBEEF0;
  padding-bottom: 60px;
}

.image--plp__product--image {
  width: 170px;
  height: 190px;
  transform: translateY(35px);
}

/* .nameContainer--product__name {
  justify-content: flex-start;
  margin-left: 5px;
} */

.nameContainer--product__name {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  /* justify-content: flex-start; */
}

.brandName--plp__product--name, .price_installment--plp__product--price {
  color: #000;
  font-size: 14px;
  font-family: "AdihausDIN-Regular";
}

.priceContainer--product__price  {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

