.container--plp__filters--modal {
  display: flex;
  justify-content: flex-end;
}

.paper--plp__filters--modal {
  margin: 0 !important;
}



.paperScrollContent {
  /* transform: translateX(500px); */
  border-radius: 0;
}
