.drawer--mobile__mega--menu,
.drawer--drawer__search {
  width: 100% !important;
  max-width: 100% !important;
}

.closeIconButton--drawer__search,
.closeIconContainer--drawer__search {
  background: #eceff1;
}
