.paragraph--mobile__menu {
  padding-bottom: 20px;
  color: #000;
  font-family: "AdihausDIN-Regular";
  font-size: 18px;
}
.paragraph--mobile__menu--colombia {
  color: #000;
  font-family: "AdihausDIN-Regular";
}
