.logoImage--container__logo--mobile {
  transform   : translateY(5px);
  /* transform: translateX(100px); */
}

.logoLink--container__logo--mobile {
  transform: translateX(-30px);
}

.logoImage--mobile__logo--drawer {
  transform: translateX(80px);
}

.searchBarInnerContainer--mobile__header--search :global(.vtex-input-prefix__group) {
  width         : 100% !important;
  /* margin-left: 45px; */
  border        : none;
}

/* .searchBarInnerContainer--mobile__header--search  {
  transform: translateY(-60px);
} */

/* .autoCompleteOuterContainer--mobile__header--search {
    width: 90vw;
    position: absolute;
    top: 10px;
    margin-left: 40px;
} */

.searchBarInnerContainer--mobile__header--search :global(.vtex-styleguide-9-x-input) {
  background: #eceff1;
}

.searchBarInnerContainer--mobile__header--search :global(.vtex-input__suffix) {
  background: #eceff1;
}

.searchBarInnerContainer--mobile__header--search :global(.vtex-search-1-x-biggy-autocomplete-wrapper) {
  width: 50vw;
  /* margin: 100px; */
}

@media screen and (max-width: 1024px) {

  .logoLink--container__logo--mobile {
    transform: translateX(-80px);
  }

  .logoImage--mobile__logo--drawer {
    transform: translateX(120px);
  }

  /* .autoCompleteOuterContainer--mobile__header--search {
    width: 90vw;
    position: absolute;
    top: -55px;
    margin-left: 50px;
} */

}

@media screen and (max-width: 1024px) {

  .autoCompleteOuterContainer--mobile__header--search {
    width: 90vw;
    position: absolute;
    top: -55px;
    margin-left: 50px;
}
}

@media screen and (max-width: 900px) {

  .logoLink--container__logo--mobile {
    transform: translateX(-40px);
  }
}

@media screen and (max-width: 768px) {

  .logoImage--mobile__logo--drawer {
    transform: translateX(80px);
  }
  .autoCompleteOuterContainer--mobile__header--search {
    width: 90vw;
    position: absolute;
    top: -55px;
    margin-left: 40px;
}
}


@media screen and (max-width: 700px) {

  .logoLink--container__logo--mobile {
    transform: translateX(-30px);
  }
}

@media screen and (max-width: 641px) {

  .autoCompleteOuterContainer--mobile__header--search {
    width: 90vw;
    position: absolute;
    top: 10px;
    margin-left: 40px;
}
}

@media screen and (max-width: 600px) {

  .logoLink--container__logo--mobile {
    transform: translateX(20px);
  }
}

@media screen and (max-width: 550px) {

  .logoImage--mobile__logo--drawer {
    transform: translateX(50px);
  }
}

@media screen and (max-width: 450px) {

  .logoImage--mobile__logo--drawer {
    transform: translateX(10px);
  }
}
