.flexCol--icon__mobile--profile {
  padding  : 0;
  transform: translateY(4px);
}

.flexCol--icon__desktop--favorites {
  transform    : translateY(10px);
  padding-right: 15px;
}



.flexColChild--icon__mobile--search {
  transform: translateY(10px);
}

.flexCol--icon__mobile--cart {
  transform: translateY(2px);
}

.flexRowContent--header__mobile--section-one {
  display  : flex;
  transform: translateY(5px);
}

.flexRowContent--header__bottom--user {
  display  : flex;
  transform: translateY(3px);
  padding-right: 0 !important;
}

.flexRow--header__mobile--section-one {
  padding-left: 10px;
}

.flexCol--mobile__menu--items {
  transform : translateX(15px);
  width     : 80%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.flexColChild--mobile__menu--items {
  width: 250px;
}

/* .flexColChild--mobile__menu--location {
  position: absolute;
  top: 95%;
} */



.flexRow--mobile__menu--location {
  width      : 100%;
  padding-top: 10px;
  position   : absolute;
  top        : 95%;
  background : #fff;
  border-top: 1px solid #eceff1;
}

.flexRowContent--mobile__menu--location {
  width: 250px;
}

.flexRowContent--mobile__menu--location :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 20% !important;
}

@media screen and (max-width: 640px) {
  .flexRowContent--mobile__menu--location {
    display: flex;
  }

}
